<a
  class="text-blueGray-500 block py-1 px-3"
  href="#pablo"
  (click)="toggleDropdown($event)"
  #btnDropdownRef
>
  <i class="fas fa-ellipsis-v"></i>
</a>
<div class="min-w-48 z-50" #popoverDropdownRef>
  <div
    class="bg-white text-base float-left py-2 list-none text-left rounded shadow-lg mt-1 min-w-48"
    [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
  >
    <div class="flex space-x-2">
      <button
        class="bg-red-600 text-white font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md flex items-center"
        type="button" (click)="onDelete()">
        <i class="fas fa-trash mr-2"></i>
        Delete
      </button>
      <button
        class="bg-lightBlue-600 text-white font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md flex items-center"
        type="button" (click)="onUpdate()">
        <i class="fa-regular fa-pen-to-square"></i>Update
      </button>
    </div>
    <div class="h-0 my-2 border border-solid border-blueGray-100"></div>
  </div>
</div>
